body{
    background-color: #0f172a;
    margin: 0; 
    padding: 0; 
  }
  
  .header {
    font-family: 'Inter', sans-serif;
    color: #e2e8f0c7;
    position: absolute;
    top: 80px;
    left: 200px;
    margin: 0; 
    padding: 0; 
  }
  
  .header-title {
    font-size: 3em;
    font-weight: 800;
    margin: 0; 
    padding: 0; 
  }
  
  .header-subtitle {
    font-size: 1.2em;
    font-weight: 500;
    margin: 0; 
    padding: 0; 
  }
  
  .header-description {
    color: #91a1b9;
    max-width: 550px; /* Set a maximum width for the description box */
    word-wrap: break-word; /* Allow words to break and wrap to the next line */
  }
  
  .header-subtitle-container {
    display: flex; /* This will align the children in a row */
    align-items: center; /* This will vertically center the children */
    gap: 10px; /* This adds some space between the text and the image */
  }