.spline-container {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 80vw; /* Using viewport width for responsiveness */
  height: 80vh; /* Using viewport height for responsiveness */
  background: transparent;
  z-index: 1;
  max-width: 600px; /* Max width for large screens */
  max-height: 600px; /* Max height for large screens */
  margin-top: 80px;
}

/* Media Queries */

/* For tablets */
@media (max-width: 768px) {
  .spline-container {
    display: none; /* Completely hide the container on tablet devices */
  }
}

/* For mobile devices */
@media (max-width: 480px) {
  .spline-container {
    display: none; /* Completely hide the container on tablet devices */
  }
  .header {
    position: absolute !important;
    margin-left: -185px !important;
  }  
}